<!doctype html>
<html class="no-js" lang="en">
    <%- include('layout/head', {title: 'Nossas Linhas'}); -%>
    <body>
        <%- include('layout/header'); -%>

        <!-- start page title section -->
        <section class="wow fadeIn bg-light-gray padding-10px-bottom padding-100px-top md-padding-60px-tb sm-padding-30px-tb top-space">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 col-sm-12 page-title-medium text-center d-flex flex-column justify-content-center">
                        <!-- start page title -->
                        <h1 class="alt-font text-extra-dark-gray font-weight-600 m-0">Produtos</h1>
                        <!-- end page title -->                        
                        <div class="position-relative mt-4">
                            <input type="text" class="bg-transparent text-small m-0 border-color-extra-light-gray medium-input float-left" placeholder="Qual produto está procurando?">
                            <button type="submit" class="bg-transparent btn position-absolute right-0 top-1"><i class="fas fa-search no-margin-left"></i></button>
                        </div>   
                        
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-8 text-center tab-style3" id="animated-tab1">
                        <!-- start tab navigation -->
                        <ul class="nav nav-tabs margin-50px-bottom sm-margin-30px-bottom text-uppercase alt-font text-small font-weight-600 justify-content-center flex-column flex-md-row lines-menu slider">                             
                            <li class="nav-item"><a href="#tab1" data-toggle="tab" class="nav-link active text-medium-gray">Linha</a></li>
                            <li class="nav-item"><a href="#tab2" data-toggle="tab" class="nav-link text-medium-gray">Linha</a></li>
                            <li class="nav-item"><a href="#tab3" data-toggle="tab" class="nav-link text-medium-gray">Linha</a></li>
                            <li class="nav-item"><a href="#tab4" data-toggle="tab" class="nav-link text-medium-gray">Linha</a></li>
                            <li class="nav-item"><a href="#tab5" data-toggle="tab" class="nav-link text-medium-gray">Linha</a></li>
                            <li class="nav-item"><a href="#tab6" data-toggle="tab" class="nav-link text-medium-gray">Linha</a></li>
                            <li class="nav-item"><a href="#tab7" data-toggle="tab" class="nav-link text-medium-gray">Linha</a></li>
                        </ul>
                        <!-- end tab navigation -->
                    </div>
                </div>
            </div>
        </section>
        <!-- end page title section -->

        <!-- start page title section -->
        <section class="wow fadeIn parallax" data-stellar-background-ratio="0.5" style="background-image:url('http://placehold.it/1920x1100');">
            <div class="opacity-medium bg-extra-dark-gray"></div>
            <div class="container">
                <div class="row">
                    <div class="col-12 extra-small-screen d-flex flex-column justify-content-center page-title-large text-center">
                        <!-- start page title -->
                        <h1 class="text-white-2 alt-font font-weight-600 letter-spacing-minus-1 margin-10px-bottom">Linha</h1>
                        <!-- end page title -->
                        <!-- start sub title -->
                        <span class="text-white-2 opacity6 alt-font mb-0">GIF em Paralax</span>
                        <!-- end sub title -->
                    </div>
                </div>
            </div>
        </section>
        <!-- end page title section -->    

        <!-- start post content section -->  
        <section class="wow fadeIn">
            <div class="container tab-content"> 
                <div id="tab1" class="tab-pane fade in active show">
                    <div class="row">
                        
                        <div class="position-relative overflow-hidden w-100">
                            <span class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase">Categoria</span>
                        </div>
                        
                        <div class="products slider">
                            <!-- start post item -->
                            <div class="width-100 margin-50px-bottom last-paragraph-no-margin sm-margin-30px-bottom wow fadeInUp">
                                <div class="blog-post blog-post-style1 text-center text-md-left">
                                    <div class="blog-post-images overflow-hidden margin-25px-bottom md-margin-20px-bottom">
                                        <a href="blog-post-layout-01.html">
                                            <img src="http://placehold.it/700x500" alt="">
                                        </a>
                                    </div>
                                    <div class="post-details">
                                        <span class="post-author text-extra-small text-medium-gray text-uppercase d-block margin-10px-bottom sm-margin-5px-bottom">Linha do produto</a></span>
                                        <a href="blog-post-layout-01.html" class="post-title text-medium text-extra-dark-gray width-90 d-block md-width-100">Nome do produto</a>                                
                                    </div>
                                </div>
                            </div>
                            <!-- end post item -->            
                            <!-- start post item -->
                            <div class="width-100 margin-50px-bottom last-paragraph-no-margin sm-margin-30px-bottom wow fadeInUp">
                                <div class="blog-post blog-post-style1 text-center text-md-left">
                                    <div class="blog-post-images overflow-hidden margin-25px-bottom md-margin-20px-bottom">
                                        <a href="blog-post-layout-01.html">
                                            <img src="http://placehold.it/700x500" alt="">
                                        </a>
                                    </div>
                                    <div class="post-details">
                                        <span class="post-author text-extra-small text-medium-gray text-uppercase d-block margin-10px-bottom sm-margin-5px-bottom">Linha do produto</a></span>
                                        <a href="blog-post-layout-01.html" class="post-title text-medium text-extra-dark-gray width-90 d-block md-width-100">Nome do produto</a>                                
                                    </div>
                                </div>
                            </div>
                            <!-- end post item -->            
                            <!-- start post item -->
                            <div class="width-100 margin-50px-bottom last-paragraph-no-margin sm-margin-30px-bottom wow fadeInUp">
                                <div class="blog-post blog-post-style1 text-center text-md-left">
                                    <div class="blog-post-images overflow-hidden margin-25px-bottom md-margin-20px-bottom">
                                        <a href="blog-post-layout-01.html">
                                            <img src="http://placehold.it/700x500" alt="">
                                        </a>
                                    </div>
                                    <div class="post-details">
                                        <span class="post-author text-extra-small text-medium-gray text-uppercase d-block margin-10px-bottom sm-margin-5px-bottom">Linha do produto</a></span>
                                        <a href="blog-post-layout-01.html" class="post-title text-medium text-extra-dark-gray width-90 d-block md-width-100">Nome do produto</a>                                
                                    </div>
                                </div>
                            </div>
                            <!-- end post item -->            
                            <!-- start post item -->
                            <div class="width-100 margin-50px-bottom last-paragraph-no-margin sm-margin-30px-bottom wow fadeInUp">
                                <div class="blog-post blog-post-style1 text-center text-md-left">
                                    <div class="blog-post-images overflow-hidden margin-25px-bottom md-margin-20px-bottom">
                                        <a href="blog-post-layout-01.html">
                                            <img src="http://placehold.it/700x500" alt="">
                                        </a>
                                    </div>
                                    <div class="post-details">
                                        <span class="post-author text-extra-small text-medium-gray text-uppercase d-block margin-10px-bottom sm-margin-5px-bottom">Linha do produto</a></span>
                                        <a href="blog-post-layout-01.html" class="post-title text-medium text-extra-dark-gray width-90 d-block md-width-100">Nome do produto</a>                                
                                    </div>
                                </div>
                            </div>
                            <!-- end post item -->    
                            <!-- start post item -->
                            <div class="width-100 margin-50px-bottom last-paragraph-no-margin sm-margin-30px-bottom wow fadeInUp">
                                <div class="blog-post blog-post-style1 text-center text-md-left">
                                    <div class="blog-post-images overflow-hidden margin-25px-bottom md-margin-20px-bottom">
                                        <a href="blog-post-layout-01.html">
                                            <img src="http://placehold.it/700x500" alt="">
                                        </a>
                                    </div>
                                    <div class="post-details">
                                        <span class="post-author text-extra-small text-medium-gray text-uppercase d-block margin-10px-bottom sm-margin-5px-bottom">Linha do produto</a></span>
                                        <a href="blog-post-layout-01.html" class="post-title text-medium text-extra-dark-gray width-90 d-block md-width-100">Nome do produto</a>                                
                                    </div>
                                </div>
                            </div>
                            <!-- end post item -->    
                            <!-- start post item -->
                            <div class="width-100 margin-50px-bottom last-paragraph-no-margin sm-margin-30px-bottom wow fadeInUp">
                                <div class="blog-post blog-post-style1 text-center text-md-left">
                                    <div class="blog-post-images overflow-hidden margin-25px-bottom md-margin-20px-bottom">
                                        <a href="blog-post-layout-01.html">
                                            <img src="http://placehold.it/700x500" alt="">
                                        </a>
                                    </div>
                                    <div class="post-details">
                                        <span class="post-author text-extra-small text-medium-gray text-uppercase d-block margin-10px-bottom sm-margin-5px-bottom">Linha do produto</a></span>
                                        <a href="blog-post-layout-01.html" class="post-title text-medium text-extra-dark-gray width-90 d-block md-width-100">Nome do produto</a>                                
                                    </div>
                                </div>
                            </div>
                            <!-- end post item -->    
                        </div>                            
                    </div>
                    <div class="row">
                        <div class="position-relative overflow-hidden w-100">
                            <span class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase">Categoria</span>
                        </div>
                        <div class="products slider">
                            <!-- start post item -->
                            <div class="width-100 margin-50px-bottom last-paragraph-no-margin sm-margin-30px-bottom wow fadeInUp">
                                <div class="blog-post blog-post-style1 text-center text-md-left">
                                    <div class="blog-post-images overflow-hidden margin-25px-bottom md-margin-20px-bottom">
                                        <a href="blog-post-layout-01.html">
                                            <img src="http://placehold.it/700x500" alt="">
                                        </a>
                                    </div>
                                    <div class="post-details">
                                        <span class="post-author text-extra-small text-medium-gray text-uppercase d-block margin-10px-bottom sm-margin-5px-bottom">Linha do produto</a></span>
                                        <a href="blog-post-layout-01.html" class="post-title text-medium text-extra-dark-gray width-90 d-block md-width-100">Nome do produto</a>                                
                                    </div>
                                </div>
                            </div>
                            <!-- end post item -->            
                            <!-- start post item -->
                            <div class="width-100 margin-50px-bottom last-paragraph-no-margin sm-margin-30px-bottom wow fadeInUp">
                                <div class="blog-post blog-post-style1 text-center text-md-left">
                                    <div class="blog-post-images overflow-hidden margin-25px-bottom md-margin-20px-bottom">
                                        <a href="blog-post-layout-01.html">
                                            <img src="http://placehold.it/700x500" alt="">
                                        </a>
                                    </div>
                                    <div class="post-details">
                                        <span class="post-author text-extra-small text-medium-gray text-uppercase d-block margin-10px-bottom sm-margin-5px-bottom">Linha do produto</a></span>
                                        <a href="blog-post-layout-01.html" class="post-title text-medium text-extra-dark-gray width-90 d-block md-width-100">Nome do produto</a>                                
                                    </div>
                                </div>
                            </div>
                            <!-- end post item -->            
                            <!-- start post item -->
                            <div class="width-100 margin-50px-bottom last-paragraph-no-margin sm-margin-30px-bottom wow fadeInUp">
                                <div class="blog-post blog-post-style1 text-center text-md-left">
                                    <div class="blog-post-images overflow-hidden margin-25px-bottom md-margin-20px-bottom">
                                        <a href="blog-post-layout-01.html">
                                            <img src="http://placehold.it/700x500" alt="">
                                        </a>
                                    </div>
                                    <div class="post-details">
                                        <span class="post-author text-extra-small text-medium-gray text-uppercase d-block margin-10px-bottom sm-margin-5px-bottom">Linha do produto</a></span>
                                        <a href="blog-post-layout-01.html" class="post-title text-medium text-extra-dark-gray width-90 d-block md-width-100">Nome do produto</a>                                
                                    </div>
                                </div>
                            </div>
                            <!-- end post item -->            
                            <!-- start post item -->
                            <div class="width-100 margin-50px-bottom last-paragraph-no-margin sm-margin-30px-bottom wow fadeInUp">
                                <div class="blog-post blog-post-style1 text-center text-md-left">
                                    <div class="blog-post-images overflow-hidden margin-25px-bottom md-margin-20px-bottom">
                                        <a href="blog-post-layout-01.html">
                                            <img src="http://placehold.it/700x500" alt="">
                                        </a>
                                    </div>
                                    <div class="post-details">
                                        <span class="post-author text-extra-small text-medium-gray text-uppercase d-block margin-10px-bottom sm-margin-5px-bottom">Linha do produto</a></span>
                                        <a href="blog-post-layout-01.html" class="post-title text-medium text-extra-dark-gray width-90 d-block md-width-100">Nome do produto</a>                                
                                    </div>
                                </div>
                            </div>
                            <!-- end post item -->    
                            <!-- start post item -->
                            <div class="width-100 margin-50px-bottom last-paragraph-no-margin sm-margin-30px-bottom wow fadeInUp">
                                <div class="blog-post blog-post-style1 text-center text-md-left">
                                    <div class="blog-post-images overflow-hidden margin-25px-bottom md-margin-20px-bottom">
                                        <a href="blog-post-layout-01.html">
                                            <img src="http://placehold.it/700x500" alt="">
                                        </a>
                                    </div>
                                    <div class="post-details">
                                        <span class="post-author text-extra-small text-medium-gray text-uppercase d-block margin-10px-bottom sm-margin-5px-bottom">Linha do produto</a></span>
                                        <a href="blog-post-layout-01.html" class="post-title text-medium text-extra-dark-gray width-90 d-block md-width-100">Nome do produto</a>                                
                                    </div>
                                </div>
                            </div>
                            <!-- end post item -->    
                            <!-- start post item -->
                            <div class="width-100 margin-50px-bottom last-paragraph-no-margin sm-margin-30px-bottom wow fadeInUp">
                                <div class="blog-post blog-post-style1 text-center text-md-left">
                                    <div class="blog-post-images overflow-hidden margin-25px-bottom md-margin-20px-bottom">
                                        <a href="blog-post-layout-01.html">
                                            <img src="http://placehold.it/700x500" alt="">
                                        </a>
                                    </div>
                                    <div class="post-details">
                                        <span class="post-author text-extra-small text-medium-gray text-uppercase d-block margin-10px-bottom sm-margin-5px-bottom">Linha do produto</a></span>
                                        <a href="blog-post-layout-01.html" class="post-title text-medium text-extra-dark-gray width-90 d-block md-width-100">Nome do produto</a>                                
                                    </div>
                                </div>
                            </div>
                            <!-- end post item -->    
                        </div>                            
                    </div>
                    <div class="row">  
                        <div class="position-relative overflow-hidden w-100">
                            <span class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase">Categoria</span>
                        </div>                      
                        <div class="products slider">
                            <!-- start post item -->
                            <div class="width-100 margin-50px-bottom last-paragraph-no-margin sm-margin-30px-bottom wow fadeInUp">
                                <div class="blog-post blog-post-style1 text-center text-md-left">
                                    <div class="blog-post-images overflow-hidden margin-25px-bottom md-margin-20px-bottom">
                                        <a href="blog-post-layout-01.html">
                                            <img src="http://placehold.it/700x500" alt="">
                                        </a>
                                    </div>
                                    <div class="post-details">
                                        <span class="post-author text-extra-small text-medium-gray text-uppercase d-block margin-10px-bottom sm-margin-5px-bottom">Linha do produto</a></span>
                                        <a href="blog-post-layout-01.html" class="post-title text-medium text-extra-dark-gray width-90 d-block md-width-100">Nome do produto</a>                                
                                    </div>
                                </div>
                            </div>
                            <!-- end post item -->            
                            <!-- start post item -->
                            <div class="width-100 margin-50px-bottom last-paragraph-no-margin sm-margin-30px-bottom wow fadeInUp">
                                <div class="blog-post blog-post-style1 text-center text-md-left">
                                    <div class="blog-post-images overflow-hidden margin-25px-bottom md-margin-20px-bottom">
                                        <a href="blog-post-layout-01.html">
                                            <img src="http://placehold.it/700x500" alt="">
                                        </a>
                                    </div>
                                    <div class="post-details">
                                        <span class="post-author text-extra-small text-medium-gray text-uppercase d-block margin-10px-bottom sm-margin-5px-bottom">Linha do produto</a></span>
                                        <a href="blog-post-layout-01.html" class="post-title text-medium text-extra-dark-gray width-90 d-block md-width-100">Nome do produto</a>                                
                                    </div>
                                </div>
                            </div>
                            <!-- end post item -->            
                            <!-- start post item -->
                            <div class="width-100 margin-50px-bottom last-paragraph-no-margin sm-margin-30px-bottom wow fadeInUp">
                                <div class="blog-post blog-post-style1 text-center text-md-left">
                                    <div class="blog-post-images overflow-hidden margin-25px-bottom md-margin-20px-bottom">
                                        <a href="blog-post-layout-01.html">
                                            <img src="http://placehold.it/700x500" alt="">
                                        </a>
                                    </div>
                                    <div class="post-details">
                                        <span class="post-author text-extra-small text-medium-gray text-uppercase d-block margin-10px-bottom sm-margin-5px-bottom">Linha do produto</a></span>
                                        <a href="blog-post-layout-01.html" class="post-title text-medium text-extra-dark-gray width-90 d-block md-width-100">Nome do produto</a>                                
                                    </div>
                                </div>
                            </div>
                            <!-- end post item -->            
                            <!-- start post item -->
                            <div class="width-100 margin-50px-bottom last-paragraph-no-margin sm-margin-30px-bottom wow fadeInUp">
                                <div class="blog-post blog-post-style1 text-center text-md-left">
                                    <div class="blog-post-images overflow-hidden margin-25px-bottom md-margin-20px-bottom">
                                        <a href="blog-post-layout-01.html">
                                            <img src="http://placehold.it/700x500" alt="">
                                        </a>
                                    </div>
                                    <div class="post-details">
                                        <span class="post-author text-extra-small text-medium-gray text-uppercase d-block margin-10px-bottom sm-margin-5px-bottom">Linha do produto</a></span>
                                        <a href="blog-post-layout-01.html" class="post-title text-medium text-extra-dark-gray width-90 d-block md-width-100">Nome do produto</a>                                
                                    </div>
                                </div>
                            </div>
                            <!-- end post item -->    
                            <!-- start post item -->
                            <div class="width-100 margin-50px-bottom last-paragraph-no-margin sm-margin-30px-bottom wow fadeInUp">
                                <div class="blog-post blog-post-style1 text-center text-md-left">
                                    <div class="blog-post-images overflow-hidden margin-25px-bottom md-margin-20px-bottom">
                                        <a href="blog-post-layout-01.html">
                                            <img src="http://placehold.it/700x500" alt="">
                                        </a>
                                    </div>
                                    <div class="post-details">
                                        <span class="post-author text-extra-small text-medium-gray text-uppercase d-block margin-10px-bottom sm-margin-5px-bottom">Linha do produto</a></span>
                                        <a href="blog-post-layout-01.html" class="post-title text-medium text-extra-dark-gray width-90 d-block md-width-100">Nome do produto</a>                                
                                    </div>
                                </div>
                            </div>
                            <!-- end post item -->    
                            <!-- start post item -->
                            <div class="width-100 margin-50px-bottom last-paragraph-no-margin sm-margin-30px-bottom wow fadeInUp">
                                <div class="blog-post blog-post-style1 text-center text-md-left">
                                    <div class="blog-post-images overflow-hidden margin-25px-bottom md-margin-20px-bottom">
                                        <a href="blog-post-layout-01.html">
                                            <img src="http://placehold.it/700x500" alt="">
                                        </a>
                                    </div>
                                    <div class="post-details">
                                        <span class="post-author text-extra-small text-medium-gray text-uppercase d-block margin-10px-bottom sm-margin-5px-bottom">Linha do produto</a></span>
                                        <a href="blog-post-layout-01.html" class="post-title text-medium text-extra-dark-gray width-90 d-block md-width-100">Nome do produto</a>                                
                                    </div>
                                </div>
                            </div>
                            <!-- end post item -->    
                        </div>                            
                    </div>                                              
                </div>                
                <div id="tab2" class="tab-pane fade in">
                
                    <div class="row">
                        
                        <div class="position-relative overflow-hidden w-100">
                            <span class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase">Categoria</span>
                        </div>
                        
                        <div class="products slider">
                            <!-- start post item -->
                            <div class="width-100 margin-50px-bottom last-paragraph-no-margin sm-margin-30px-bottom wow fadeInUp">
                                <div class="blog-post blog-post-style1 text-center text-md-left">
                                    <div class="blog-post-images overflow-hidden margin-25px-bottom md-margin-20px-bottom">
                                        <a href="blog-post-layout-01.html">
                                            <img src="http://placehold.it/700x500" alt="">
                                        </a>
                                    </div>
                                    <div class="post-details">
                                        <span class="post-author text-extra-small text-medium-gray text-uppercase d-block margin-10px-bottom sm-margin-5px-bottom">Linha do produto</a></span>
                                        <a href="blog-post-layout-01.html" class="post-title text-medium text-extra-dark-gray width-90 d-block md-width-100">Nome do produto</a>                                
                                    </div>
                                </div>
                            </div>
                            <!-- end post item -->            
                            <!-- start post item -->
                            <div class="width-100 margin-50px-bottom last-paragraph-no-margin sm-margin-30px-bottom wow fadeInUp">
                                <div class="blog-post blog-post-style1 text-center text-md-left">
                                    <div class="blog-post-images overflow-hidden margin-25px-bottom md-margin-20px-bottom">
                                        <a href="blog-post-layout-01.html">
                                            <img src="http://placehold.it/700x500" alt="">
                                        </a>
                                    </div>
                                    <div class="post-details">
                                        <span class="post-author text-extra-small text-medium-gray text-uppercase d-block margin-10px-bottom sm-margin-5px-bottom">Linha do produto</a></span>
                                        <a href="blog-post-layout-01.html" class="post-title text-medium text-extra-dark-gray width-90 d-block md-width-100">Nome do produto</a>                                
                                    </div>
                                </div>
                            </div>
                            <!-- end post item -->            
                            <!-- start post item -->
                            <div class="width-100 margin-50px-bottom last-paragraph-no-margin sm-margin-30px-bottom wow fadeInUp">
                                <div class="blog-post blog-post-style1 text-center text-md-left">
                                    <div class="blog-post-images overflow-hidden margin-25px-bottom md-margin-20px-bottom">
                                        <a href="blog-post-layout-01.html">
                                            <img src="http://placehold.it/700x500" alt="">
                                        </a>
                                    </div>
                                    <div class="post-details">
                                        <span class="post-author text-extra-small text-medium-gray text-uppercase d-block margin-10px-bottom sm-margin-5px-bottom">Linha do produto</a></span>
                                        <a href="blog-post-layout-01.html" class="post-title text-medium text-extra-dark-gray width-90 d-block md-width-100">Nome do produto</a>                                
                                    </div>
                                </div>
                            </div>
                            <!-- end post item -->            
                            <!-- start post item -->
                            <div class="width-100 margin-50px-bottom last-paragraph-no-margin sm-margin-30px-bottom wow fadeInUp">
                                <div class="blog-post blog-post-style1 text-center text-md-left">
                                    <div class="blog-post-images overflow-hidden margin-25px-bottom md-margin-20px-bottom">
                                        <a href="blog-post-layout-01.html">
                                            <img src="http://placehold.it/700x500" alt="">
                                        </a>
                                    </div>
                                    <div class="post-details">
                                        <span class="post-author text-extra-small text-medium-gray text-uppercase d-block margin-10px-bottom sm-margin-5px-bottom">Linha do produto</a></span>
                                        <a href="blog-post-layout-01.html" class="post-title text-medium text-extra-dark-gray width-90 d-block md-width-100">Nome do produto</a>                                
                                    </div>
                                </div>
                            </div>
                            <!-- end post item -->    
                            <!-- start post item -->
                            <div class="width-100 margin-50px-bottom last-paragraph-no-margin sm-margin-30px-bottom wow fadeInUp">
                                <div class="blog-post blog-post-style1 text-center text-md-left">
                                    <div class="blog-post-images overflow-hidden margin-25px-bottom md-margin-20px-bottom">
                                        <a href="blog-post-layout-01.html">
                                            <img src="http://placehold.it/700x500" alt="">
                                        </a>
                                    </div>
                                    <div class="post-details">
                                        <span class="post-author text-extra-small text-medium-gray text-uppercase d-block margin-10px-bottom sm-margin-5px-bottom">Linha do produto</a></span>
                                        <a href="blog-post-layout-01.html" class="post-title text-medium text-extra-dark-gray width-90 d-block md-width-100">Nome do produto</a>                                
                                    </div>
                                </div>
                            </div>
                            <!-- end post item -->    
                            <!-- start post item -->
                            <div class="width-100 margin-50px-bottom last-paragraph-no-margin sm-margin-30px-bottom wow fadeInUp">
                                <div class="blog-post blog-post-style1 text-center text-md-left">
                                    <div class="blog-post-images overflow-hidden margin-25px-bottom md-margin-20px-bottom">
                                        <a href="blog-post-layout-01.html">
                                            <img src="http://placehold.it/700x500" alt="">
                                        </a>
                                    </div>
                                    <div class="post-details">
                                        <span class="post-author text-extra-small text-medium-gray text-uppercase d-block margin-10px-bottom sm-margin-5px-bottom">Linha do produto</a></span>
                                        <a href="blog-post-layout-01.html" class="post-title text-medium text-extra-dark-gray width-90 d-block md-width-100">Nome do produto</a>                                
                                    </div>
                                </div>
                            </div>
                            <!-- end post item -->    
                        </div>                            
                    </div>
                    <div class="row">
                        <div class="position-relative overflow-hidden w-100">
                            <span class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase">Categoria</span>
                        </div>
                        <div class="products slider">
                            <!-- start post item -->
                            <div class="width-100 margin-50px-bottom last-paragraph-no-margin sm-margin-30px-bottom wow fadeInUp">
                                <div class="blog-post blog-post-style1 text-center text-md-left">
                                    <div class="blog-post-images overflow-hidden margin-25px-bottom md-margin-20px-bottom">
                                        <a href="blog-post-layout-01.html">
                                            <img src="http://placehold.it/700x500" alt="">
                                        </a>
                                    </div>
                                    <div class="post-details">
                                        <span class="post-author text-extra-small text-medium-gray text-uppercase d-block margin-10px-bottom sm-margin-5px-bottom">Linha do produto</a></span>
                                        <a href="blog-post-layout-01.html" class="post-title text-medium text-extra-dark-gray width-90 d-block md-width-100">Nome do produto</a>                                
                                    </div>
                                </div>
                            </div>
                            <!-- end post item -->            
                            <!-- start post item -->
                            <div class="width-100 margin-50px-bottom last-paragraph-no-margin sm-margin-30px-bottom wow fadeInUp">
                                <div class="blog-post blog-post-style1 text-center text-md-left">
                                    <div class="blog-post-images overflow-hidden margin-25px-bottom md-margin-20px-bottom">
                                        <a href="blog-post-layout-01.html">
                                            <img src="http://placehold.it/700x500" alt="">
                                        </a>
                                    </div>
                                    <div class="post-details">
                                        <span class="post-author text-extra-small text-medium-gray text-uppercase d-block margin-10px-bottom sm-margin-5px-bottom">Linha do produto</a></span>
                                        <a href="blog-post-layout-01.html" class="post-title text-medium text-extra-dark-gray width-90 d-block md-width-100">Nome do produto</a>                                
                                    </div>
                                </div>
                            </div>
                            <!-- end post item -->            
                            <!-- start post item -->
                            <div class="width-100 margin-50px-bottom last-paragraph-no-margin sm-margin-30px-bottom wow fadeInUp">
                                <div class="blog-post blog-post-style1 text-center text-md-left">
                                    <div class="blog-post-images overflow-hidden margin-25px-bottom md-margin-20px-bottom">
                                        <a href="blog-post-layout-01.html">
                                            <img src="http://placehold.it/700x500" alt="">
                                        </a>
                                    </div>
                                    <div class="post-details">
                                        <span class="post-author text-extra-small text-medium-gray text-uppercase d-block margin-10px-bottom sm-margin-5px-bottom">Linha do produto</a></span>
                                        <a href="blog-post-layout-01.html" class="post-title text-medium text-extra-dark-gray width-90 d-block md-width-100">Nome do produto</a>                                
                                    </div>
                                </div>
                            </div>
                            <!-- end post item -->            
                            <!-- start post item -->
                            <div class="width-100 margin-50px-bottom last-paragraph-no-margin sm-margin-30px-bottom wow fadeInUp">
                                <div class="blog-post blog-post-style1 text-center text-md-left">
                                    <div class="blog-post-images overflow-hidden margin-25px-bottom md-margin-20px-bottom">
                                        <a href="blog-post-layout-01.html">
                                            <img src="http://placehold.it/700x500" alt="">
                                        </a>
                                    </div>
                                    <div class="post-details">
                                        <span class="post-author text-extra-small text-medium-gray text-uppercase d-block margin-10px-bottom sm-margin-5px-bottom">Linha do produto</a></span>
                                        <a href="blog-post-layout-01.html" class="post-title text-medium text-extra-dark-gray width-90 d-block md-width-100">Nome do produto</a>                                
                                    </div>
                                </div>
                            </div>
                            <!-- end post item -->    
                            <!-- start post item -->
                            <div class="width-100 margin-50px-bottom last-paragraph-no-margin sm-margin-30px-bottom wow fadeInUp">
                                <div class="blog-post blog-post-style1 text-center text-md-left">
                                    <div class="blog-post-images overflow-hidden margin-25px-bottom md-margin-20px-bottom">
                                        <a href="blog-post-layout-01.html">
                                            <img src="http://placehold.it/700x500" alt="">
                                        </a>
                                    </div>
                                    <div class="post-details">
                                        <span class="post-author text-extra-small text-medium-gray text-uppercase d-block margin-10px-bottom sm-margin-5px-bottom">Linha do produto</a></span>
                                        <a href="blog-post-layout-01.html" class="post-title text-medium text-extra-dark-gray width-90 d-block md-width-100">Nome do produto</a>                                
                                    </div>
                                </div>
                            </div>
                            <!-- end post item -->    
                            <!-- start post item -->
                            <div class="width-100 margin-50px-bottom last-paragraph-no-margin sm-margin-30px-bottom wow fadeInUp">
                                <div class="blog-post blog-post-style1 text-center text-md-left">
                                    <div class="blog-post-images overflow-hidden margin-25px-bottom md-margin-20px-bottom">
                                        <a href="blog-post-layout-01.html">
                                            <img src="http://placehold.it/700x500" alt="">
                                        </a>
                                    </div>
                                    <div class="post-details">
                                        <span class="post-author text-extra-small text-medium-gray text-uppercase d-block margin-10px-bottom sm-margin-5px-bottom">Linha do produto</a></span>
                                        <a href="blog-post-layout-01.html" class="post-title text-medium text-extra-dark-gray width-90 d-block md-width-100">Nome do produto</a>                                
                                    </div>
                                </div>
                            </div>
                            <!-- end post item -->    
                        </div>                            
                    </div>
                    <div class="row">  
                        <div class="position-relative overflow-hidden w-100">
                            <span class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase">Categoria</span>
                        </div>                      
                        <div class="products slider">
                            <!-- start post item -->
                            <div class="width-100 margin-50px-bottom last-paragraph-no-margin sm-margin-30px-bottom wow fadeInUp">
                                <div class="blog-post blog-post-style1 text-center text-md-left">
                                    <div class="blog-post-images overflow-hidden margin-25px-bottom md-margin-20px-bottom">
                                        <a href="blog-post-layout-01.html">
                                            <img src="http://placehold.it/700x500" alt="">
                                        </a>
                                    </div>
                                    <div class="post-details">
                                        <span class="post-author text-extra-small text-medium-gray text-uppercase d-block margin-10px-bottom sm-margin-5px-bottom">Linha do produto</a></span>
                                        <a href="blog-post-layout-01.html" class="post-title text-medium text-extra-dark-gray width-90 d-block md-width-100">Nome do produto</a>                                
                                    </div>
                                </div>
                            </div>
                            <!-- end post item -->            
                            <!-- start post item -->
                            <div class="width-100 margin-50px-bottom last-paragraph-no-margin sm-margin-30px-bottom wow fadeInUp">
                                <div class="blog-post blog-post-style1 text-center text-md-left">
                                    <div class="blog-post-images overflow-hidden margin-25px-bottom md-margin-20px-bottom">
                                        <a href="blog-post-layout-01.html">
                                            <img src="http://placehold.it/700x500" alt="">
                                        </a>
                                    </div>
                                    <div class="post-details">
                                        <span class="post-author text-extra-small text-medium-gray text-uppercase d-block margin-10px-bottom sm-margin-5px-bottom">Linha do produto</a></span>
                                        <a href="blog-post-layout-01.html" class="post-title text-medium text-extra-dark-gray width-90 d-block md-width-100">Nome do produto</a>                                
                                    </div>
                                </div>
                            </div>
                            <!-- end post item -->            
                            <!-- start post item -->
                            <div class="width-100 margin-50px-bottom last-paragraph-no-margin sm-margin-30px-bottom wow fadeInUp">
                                <div class="blog-post blog-post-style1 text-center text-md-left">
                                    <div class="blog-post-images overflow-hidden margin-25px-bottom md-margin-20px-bottom">
                                        <a href="blog-post-layout-01.html">
                                            <img src="http://placehold.it/700x500" alt="">
                                        </a>
                                    </div>
                                    <div class="post-details">
                                        <span class="post-author text-extra-small text-medium-gray text-uppercase d-block margin-10px-bottom sm-margin-5px-bottom">Linha do produto</a></span>
                                        <a href="blog-post-layout-01.html" class="post-title text-medium text-extra-dark-gray width-90 d-block md-width-100">Nome do produto</a>                                
                                    </div>
                                </div>
                            </div>
                            <!-- end post item -->            
                            <!-- start post item -->
                            <div class="width-100 margin-50px-bottom last-paragraph-no-margin sm-margin-30px-bottom wow fadeInUp">
                                <div class="blog-post blog-post-style1 text-center text-md-left">
                                    <div class="blog-post-images overflow-hidden margin-25px-bottom md-margin-20px-bottom">
                                        <a href="blog-post-layout-01.html">
                                            <img src="http://placehold.it/700x500" alt="">
                                        </a>
                                    </div>
                                    <div class="post-details">
                                        <span class="post-author text-extra-small text-medium-gray text-uppercase d-block margin-10px-bottom sm-margin-5px-bottom">Linha do produto</a></span>
                                        <a href="blog-post-layout-01.html" class="post-title text-medium text-extra-dark-gray width-90 d-block md-width-100">Nome do produto</a>                                
                                    </div>
                                </div>
                            </div>
                            <!-- end post item -->    
                            <!-- start post item -->
                            <div class="width-100 margin-50px-bottom last-paragraph-no-margin sm-margin-30px-bottom wow fadeInUp">
                                <div class="blog-post blog-post-style1 text-center text-md-left">
                                    <div class="blog-post-images overflow-hidden margin-25px-bottom md-margin-20px-bottom">
                                        <a href="blog-post-layout-01.html">
                                            <img src="http://placehold.it/700x500" alt="">
                                        </a>
                                    </div>
                                    <div class="post-details">
                                        <span class="post-author text-extra-small text-medium-gray text-uppercase d-block margin-10px-bottom sm-margin-5px-bottom">Linha do produto</a></span>
                                        <a href="blog-post-layout-01.html" class="post-title text-medium text-extra-dark-gray width-90 d-block md-width-100">Nome do produto</a>                                
                                    </div>
                                </div>
                            </div>
                            <!-- end post item -->    
                            <!-- start post item -->
                            <div class="width-100 margin-50px-bottom last-paragraph-no-margin sm-margin-30px-bottom wow fadeInUp">
                                <div class="blog-post blog-post-style1 text-center text-md-left">
                                    <div class="blog-post-images overflow-hidden margin-25px-bottom md-margin-20px-bottom">
                                        <a href="blog-post-layout-01.html">
                                            <img src="http://placehold.it/700x500" alt="">
                                        </a>
                                    </div>
                                    <div class="post-details">
                                        <span class="post-author text-extra-small text-medium-gray text-uppercase d-block margin-10px-bottom sm-margin-5px-bottom">Linha do produto</a></span>
                                        <a href="blog-post-layout-01.html" class="post-title text-medium text-extra-dark-gray width-90 d-block md-width-100">Nome do produto</a>                                
                                    </div>
                                </div>
                            </div>
                            <!-- end post item -->    
                        </div>                            
                    </div>     
                </div>                

                
            </div>
        </section>  
        <!-- end blog content section -->  

        <%- include('layout/footer'); -%>
        
        <!-- custom -->
        <script type="text/javascript">
            $(document).on('ready', function() { 
                    
                $(".lines-menu").slick({
                dots: false,
                infinite: false,
                centerMode: false,                
                slidesToShow: 4.7,
                slidesToScroll: 3,
                responsive: [
                    {
                        breakpoint: 480,
                        settings: {                            
                            centerMode: true,
                            centerPadding: '40px',
                            slidesToShow: 1
                        }
                    },
                    {
                        breakpoint: 768,
                        settings: {                            
                            centerMode: true,
                            centerPadding: '40px',
                            slidesToShow: 3
                        }
                    }                    
                ]
                
                }); 
                            

                function initializeSliders() {
                $( ".products" ).each(function( index ) {

                    $(this).slick({
                        dots: false,
                        infinite: false,
                        centerMode: false,                
                        slidesToShow: 3.4,
                        slidesToScroll: 3,
                        responsive: [
                            {
                                breakpoint: 768,
                                settings: {                            
                                    centerMode: true,
                                    // centerPadding: '40px',
                                    slidesToShow: 2.4,
                                    slidesToScroll: 2,
                                }
                            },
                            {
                                breakpoint: 480,
                                settings: {                            
                                    centerMode: true,
                                    // centerPadding: '40px',
                                    slidesToShow: 1,
                                    slidesToScroll: 1,
                                }
                            }
                        ]
                    }); 

                });

                }
                
                function resizeSliders() {

                
                setTimeout(function () { 
                    $( ".slider" ).each(function( index ) {
                        $(this).slick('setPosition');
                        $(this).slick('resize');     
                    });  
                    console.log("resizeSliders");
                }, 500);   
                
                }
        

                initializeSliders();


                $(window).resize(function() {
                    
                resizeSliders();          
                    
                });

                $( window ).on( "orientationchange", function( event ) {            
                location.reload();
                });


                setTimeout(function () {                  
                resizeSliders();
                }, 500);
                

                $('.nav-item a').on('click', function (e) {
                // e.stopPropagation();
                console.log("nav-item a");
                e.preventDefault();                
                $('.nav-link').removeClass('active');
                $(this).tab('show');                
                // initializeSliders();
                resizeSliders();
                });
        
                                            

            });
        </script>

    </body>
</html>
